.hola {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #f0f0f0;
    border: #333 1px solid;
    border-radius: 30px ;;

}

h1 {
    font-size: 3rem;
    color: #333;
    text-align: center;
    padding-right: 20px;
}

ul{
    display: flex;
}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border: #33333300 1px solid;
    border-radius: 30px ;
    font-style: sans-serif;
    font-family: "Arial Black";
}

.nave li:hover{
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 0 #333;
}

.nave li {
    text-align: center;
    margin-right: 30px;
    border-radius: 20px;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

body{
    background-color: #acacac;
}

.redes {
    margin-left: 20px;
    display: flex;
}

.redes button{
    border-radius: 70px;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.nubes{
    background-color: #f0f0f0;
    width: 100%;
    height: 100%;

}
.no-style { /*para links que no queremos q se vean azules y subrayados*/
    color: inherit; /* Hereda el color del elemento padre */
    text-decoration: none; /* Elimina el subrayado */
}