
nav {
    font-style: sans-serif;
    font-family: "Arial Black";
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.nave {
    list-style: none;
    gap: 10px; 
    display: flex;
}

.nave li {
    text-align: center;
    border-radius: 20px;
    background-color:beige;
    padding: 0px 10px 0px 10px;
    transition: box-shadow 0.5s ease-in-out;
    flex: 1 1 auto;
    max-width: 150px;
}

.nave li:hover{
    box-shadow: 0 5px 7px 0 #333;
    transform: translateY(-3px);
}

body{
    background-color: #acacac;
    padding: 2%;
}

#regBut{
    background-color: beige;
    border-radius: 30px;
    padding: 5px;
    margin: 10px;
    font-family: "Arial Black";
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.redes {
    margin-left: 20px;
    display: flex;
}

.redes button{
    border-radius: 70px;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.no-style { /*para links que no queremos q se vean azules y subrayados*/
    color: inherit; /* Hereda el color del elemento padre */
    text-decoration: none; /* Elimina el subrayado */
}


@media (max-width: 768px) { /* Cambia el valor según tus necesidades para que se vea bien en tlf, 
    se ajusta una condicion que si cumplida se hace lo de abajo*/
    .Titulo{
        margin: 0px;
        padding: 0px;
    }
    nav {
        flex-direction: column;
        margin-right: 20px;
    }
    .nave {
        display: flex;
        flex-wrap: wrap; /* Permite que los elementos se envuelvan */
        justify-content: center; /* Centra los elementos en cada fila */
        gap: 10px; /* Espaciado entre los elementos */

    }
    .nave li {
        flex: 1 1 auto; /* Permite que los elementos se ajusten al espacio disponible */
    }
}
